# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/build
/.vscode
build/.cmake/api/v1/reply/cache-v2-06ae4c2c313581c865f5.json
build/.cmake/api/v1/reply/index-2023-11-06T13-44-33-0483.json
build/CMakeCache.txt
build/DartConfiguration.tcl
build/Testing/20231106-1341/Test.xml
build/Testing/Temporary/LastTest_20231106-1341.log
build/.cmake/api/v1/reply/cache-v2-06ae4c2c313581c865f5.json

/LLM Responses
/ThrowawayRend
/object2TriangleJson.py

/Video1
/Video2
/VideoImages
/TestSuiteOld